# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
env/
venv/

# Jupyter Notebooks Checkpoints
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# dotenv files
.env
.env.*
